<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /frontcontroller

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ - [NC,L]
	#exceptions like robots.txt or image directories..
	RewriteRule ^(robots\.txt) - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>